.div1h1{
    text-align: center;
}
.div1h4{
    text-align: center;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.d-block{
    width: 1500px;
    height: 600px;
}